<!DOCTYPE html>
<html>

<head>
  <title>find wether</title>
</head>


<body>
  <div class="container">

    <div class="response-area">

    </div>

    <form id="myForm" method="post">
      
      <label for="idInput">your city:</label>
      <input type="text" id="idInput" name="cityName">

      <label for="submit">done:</label>
      <input id="get" type="submit" value="GET" formaction="/get-secret">

    </form>
    
  </div>
</body>

</html>